<form action="#">
<%= form_for @bank_item do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :priority  %>
	<%= f.text_field :priority %>

  <%= f.label :amount %>
  <%= f.text_field :amount %>


  <%= f.label :due_date %>
  <%= f.date_field :due_date, order: [:month, :day, :year] %>

	<%= f.label :mark_complete %>
	<%= f.check_box :mark_complete %>

<hr>

<%= f.submit%>
</form>
<% end %>
