<h1>BankItems#show</h1>

  <%= @bank_item.name %>
  <%= @bank_item.priority %>
  <%= @bank_item.amount %>
  <%= @bank_item.due_date %>

<%= commontator_thread(@bank_item) %>
<%= link_to 'All Bills', bank_items_path %>
