<<<<<<< 4487994815cdb139a575f031e0c3102162d3c0b9
<h1>Bank Items</h1>
=======
>>>>>>> logos added to assests

  <p>Bill to pay: <%= @bank_item.name %></p>
  <p>Priority:<%= @bank_item.priority %></p>
  <p>Amount to pay: <%= @bank_item.amount %></p>
  <p>Bill is due on: <%= @bank_item.due_date %></p>

<%= commontator_thread(@bank_item) %>
<br>
<%= link_to 'All Bills', bank_items_path %>
<br>
<%= link_to 'ADD New Bill', new_bank_item_path %>
<br>
<%= link_to 'Delete Bill', bank_item_path, method: :delete %>
<br>
<%= link_to 'Edit item', edit_bank_item_path(@bank_item) %>
<br>
